.stepper-container {
  display: flex;
  position: relative;
}

.stepper {
  position: sticky;
  top: 50px;
  /* width: 200px; */
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.step {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* margin-bottom: 40px; */
}

.step-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.line {
  width: 2px;
  min-height: 40px;
  height: 100%;
  /* background-color: #ddd; */
  background: linear-gradient(to top, #dddddd 75%, #8ebdff 50%);
  background-size: 100% 200%;
  background-position: bottom center;
  transition: background-position 2s ease;
  position: relative;
}

.step.active .circle,
.step.progress-done .circle {
  background-color: #2b77e3;
  fill: #2b77e3;
  filter: drop-shadow(0px 0px 11.6px #0069ff);
}

.step.active .line {
  background-position: top center;
}

.step.progress-done .line {
  background: linear-gradient(to top, #8ebdff 50%, #8ebdff 100%);
  background-position: top center;
  background-size: 100% 200%;
  transition: background-position 2s ease;
}

.step.active .line::before {
  content: "";
  width: 10px; /* Size of the dot */
  height: 10px; /* Size of the dot */
  background-color: #8ebdff; /* Dot color */
  border-radius: 50%; /* Makes the dot circular */
  position: absolute;
  transition: background-position 2s ease;
  background-size: 100% 200%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.step-details {
  margin-top: 10px;
  text-align: center;
}

.step-sections {
  padding-bottom: 80px;
}

.step-section {
  min-height: 100vh;
  padding: 40px;
}
